@model MvcSalesSystem.Models.EditCustomerItem

@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

<p class="message-success">@ViewBag.MessageError</p>

@Html.Partial("_EditPartial", Model)