@model IEnumerable<MvcSalesSystem.Models.ListSalesItem>

@{
    ViewBag.Title = "Show All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Index</h2>

<div id="divSpecial"></div>
<p>
    @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
     | @Ajax.ActionLink("Search", "Search", new { }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "divSpecial", InsertionMode = InsertionMode.Replace })
</p>

@Html.Partial("_SalesListPartial", Model)