@model MvcSalesSystem.Models.SalesSearchModel

@{
    ViewBag.Title = "Search Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Sales</h2>
@if (Model == null)
{
    <div id="SearchModel">
        @Html.Partial("_SearchFormPartial")
    </div>
}
else
{
    <div id="SearchModel">
        @Html.Partial("_SearchFormPartial",Model.SerchForm)
    </div>
    <div id="listModel">
        @Html.Partial("_SalesListPartial", Model.ListSales)
    </div>

    
}



